<% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li class="text-danger"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h3 class="text-center">Editing an Article</h3>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>

      <div class="form-group">
        <div class="control-label col-md-1">
          <%= f.label :title%>
        </div>
        <div class="col-md-11">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-1">
          <%= f.label :body%>
        </div>
        <div class="col-md-11">
          <%= f.text_area :body, class: "form-control", placeholder: "Body of article", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
          <%= f.submit "Update",  class: "btn btn-primary btn-lg pull-right"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
